<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <meta charset="UTF-8">

    <style>
        body{
            display: flex;
            flex-direction: column;
            height:100vh;
            margin: 0;
            padding: 0;

        }

        .container-fluid {
            flex: 1;
        }

        .blue-background {background-color:#2957F0;}
        .white {color:#ffffff;}
        .white-background {background-color:#ffffff;}
        .btn-black{background-color:#2957F0;color: #FFF;}

    </style>

</head>
<body onload=allUsers()>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light  background-color.navbar-dark"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand col-md-11" >
        <a href="#" class="navbar-brand"> <p th:text="${email} + ' with role '+ ${role}">with role</p> </a>
    </div>
    <div class="col-md-1 "><span class="pull-right text-light"><a href="/logout" class="text-light" >LOGOUT</a></span></div>


</nav>

<div class ="container-fluid d-flex flex-column ">
    <div class="row flex-fill d-flex h-100 justify-content-start ">
        <div class="col-md-2 p-3 bd-highlight" >
            <div id="dive_id_1">
                <form action="/admin" method="get">
                    <button type="submit" class="btn btn-primary  btn-default btn-lg btn-block">Admin</button>
                </form>
            </div>
            <div >
                <form action="/user" method="get">
                    <button type="submit" class="btn btn-default btn-lg btn-block">User</button>
                </form>

            </div>
        </div>
        <div class="col-md-10 p-3 bd-highlight" style="background-color:#faf7f7">
            <div>  <h1> Admin Panel </h1> </div>
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/add">New User</a>
                    </li>
                </ul>
            </div>
            <div>
                <div  style="background: #eeeeea"><h3><small><b>All users </b></small></h3></div>
                <div class="p-3">
                    <table class="table table-hover white-background">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Age</th>
                            <th>Role</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody id="prob_1">
<!--                            <div  th:each="el : ${users}">-->
<!--                                <tr th:id="'div_' + ${el.id}">-->
<!--                                <td th:id="'td_id_' + ${el.id}"><p th:text="${el.id}"/></td>-->
<!--                                <td th:id="'td_name_' + ${el.id}"><p th:text="${el.name}"/></td>-->
<!--                                <td th:id="'td_password_' + ${el.id}"><p th:text="${el.password}"/></td>-->
<!--                                <td th:id="'td_age_' + ${el.id}"><p th:text="${el.age}"/></td>-->
<!--                                <td th:id="'td_roles_' + ${el.id}"><p th:text="${el.getListRoles()}"/></td>-->
<!--                                &lt;!&ndash;                                <td><button type="submit" class="btn btn-success " data-toggle="modal" data-target="#exampleModalLong" data-id="${el.name}">edit</button></td>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                <td><a data-toggle="modal" data-name="ISBN-001122" title="Add this item" class="btn btn-success" href="#exampleModalLong">test</a></td>&ndash;&gt;-->
<!--                                <td><a data-toggle="modal" th:data-name="${el.name}" th:data-age="${el.age}" th:data-password="${el.password}" th:data-id="${el.id}" title="Add this item" class="open-AddBookDialog btn btn-primary" href="#exampleModalLong">Edit</a></td>-->
<!--                                <td><a data-toggle="modal" th:data-name="${el.name}" th:data-age="${el.age}" th:data-password="${el.password}" th:data-id="${el.id}" title="Add this item" class="open-DeleteDel btn btn-danger" href="#ModalDelete">Delete</a></td>-->
<!--                                &lt;!&ndash;                                <td><button type="button" class="btn btn-danger ">delete</button></td>&ndash;&gt;-->
<!--                                </tr>-->
<!--                            </div>-->
<!--                                <div id="prob_1">-->
<!--                                </div>-->
                        </tbody>
                    </table>
<!--                    <table>-->
<!--                        <tbody>-->
<!--                        <div id="prob_1">-->

<!--                        </div>-->
<!--                        </tbody>-->
<!--                    </table>-->
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" container col-8 text-center" >
                    <!--                    <form action="/admin/edit" method="POST">-->
                    <div class="form-group">
                        <label for="email"><b>name</b></label>
                        <input type="text" name="email" class="form-control" id="email"  placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="password"><b><p>Password</p></b></label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="age"><b><p>Age</p></b></label>
                        <input type="text" name="age" class="form-control" id="age" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="role"><b><p>Role</p></b></label>
                        <input type="hidden" name="id" class="form-control" id="id" placeholder="">
                        <select class="form-control" id="role" name="role">
                            <option>ROLE_ADMIN</option>>
                            <option selected="selected">ROLE_USER</option>
                        </select> </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button  class="btn btn-primary" onClick="edit()" data-dismiss="modal">Save changes</button>
                    </div>
                    <!--                    </form>-->
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalDel" aria-hidden="true" >
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalDel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" container col-8 text-center" >
<!--                    <form action="/admin/delete" method="POST">-->
                        <div class="form-group">
                            <label for="email"><b>email</b></label>
                            <input type="text" name="email" class="form-control" id="emailD"  placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="password"><b><p>Password</p></b></label>
                            <input type="password" name="password" class="form-control" id="passwordD" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="age"><b><p>Age</p></b></label>
                            <input type="text" name="age" class="form-control" id="ageD" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="role"><b><p>Role</p></b></label>
                            <input type="hidden" name="id" class="form-control" id="idD" placeholder="">
                            <select class="form-control" id="roleD" name="role">
                                <option>ROLE_ADMIN</option>
                                <option selected="selected">ROLE_USER</option>
                            </select> </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button  class="btn btn-primary" onClick="deleteUser()" data-dismiss="modal">Delete user</button>
                        </div>
<!--                    </form>-->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on("click", ".open-AddBookDialog", function () {
        var email1 = $(this).data('email');
        $(".modal-body #email").val( email1 );
        var password1 = $(this).data('password');
        $(".modal-body #password").val( password1 );
        var age1 = $(this).data('age');
        $(".modal-body #age").val( age1 );
        var role1 = $(this).data('role');
        $(".modal-body #role").val( role1);
        var id1 = $(this).data('id');
        $(".modal-body #id").val( id1 );
    });
</script>
<script>
    $(document).on("click", ".open-DeleteDel", function () {
        var email1 = $(this).data('email');
        $(".modal-body #emailD").val( email1 );
        var password1 = $(this).data('password');
        $(".modal-body #passwordD").val( password1 );
        var age1 = $(this).data('age');
        $(".modal-body #ageD").val( age1 );
        var role1 = $(this).data('role');
        $(".modal-body #roleD").val( role1 );
        var id1 = $(this).data('id');
        $(".modal-body #idD").val( id1 );
    });
</script>

<!--<script>-->

<!--    async function a() {-->
<!--        var data = {-->
<!--            id: $("#id", "#exampleModalLong").val(),-->
<!--            name: $("#name", "#exampleModalLong").val(),-->
<!--            password: $("#password", "#exampleModalLong").val(),-->
<!--            age: $("#age", "#exampleModalLong").val(),-->
<!--            roles: [$("#role", "#exampleModalLong").val()],-->
<!--        };-->
<!--        let response = await fetch('/admin/edit/json', {-->
<!--            method: 'POST',-->
<!--            headers: {-->
<!--                'Content-Type': 'application/json;charset=utf-8'-->
<!--            },-->
<!--            body: JSON.stringify(data)-->
<!--        });-->
<!--        let result = await response.json();-->
<!--        var name_td_id = 'td_id_' + result.id;-->
<!--        var name_td_name = 'td_name_' + result.id;-->
<!--        var name_td_password = 'td_password_' + result.id;-->
<!--        var name_td_age = 'td_age_' + result.id;-->
<!--        var name_td_roles = 'td_roles_' + result.id;-->

<!--        $('#'+ name_td_id).html('');-->
<!--        $('#'+ name_td_id).html('<p>' + result.id + '</p>');-->

<!--        $('#'+ name_td_name).html('');-->
<!--        $('#'+ name_td_name).html('<p>' + result.name + '</p>');-->

<!--        $('#'+ name_td_age).html('');-->
<!--        $('#'+ name_td_age).html('<p>' + result.age + '</p>');-->

<!--        $('#'+ name_td_password).html('');-->
<!--        $('#'+ name_td_password).html('<p>' + result.password + '</p>');-->

<!--        $('#'+ name_td_roles).html('');-->
<!--        $('#'+ name_td_roles).html('<p>' + result.roles[0].role + '</p>');-->

<!--    }-->

<!--</script>-->

<script src="deleteUser.js"></script>
<script src="allUsers.js"></script>
<script src="edit.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>