<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>USERS</title>

    <style>
        body {
            background-image: url("/res/image.jpg"); /* Путь к фоновому изображению */
            background-color: #c7b39b; /* Цвет фона */
        }
    </style>
</head>
<body>
<h2 align="center"><font color="red">USERS</font></h2>



<div>
    <h1>Блог сайта</h1>
    <div class="alert alert-info mt-2">
        <h3 th:text="${user.name}"/>
        <p th:text="${user.age}"/>
        <p th:text="${user.password}"/>
    </div>
</div>



<a class="button7" href="/logout">Logout</a>
</body>
</html>